/02.CLIWEB/ConUni_Soap_Java_G04_Cliente_Web/nbproject/private/
/02.CLIWEB/ConUni_Soap_Java_G04_Cliente_Web/build/
/02.CLIWEB/ConUni_SOAP_Java_G04_Cliente_Web/nbproject/private/
/02.CLIWEB/ConUni_SOAP_Java_G04_Cliente_Web/build/
/02.CLIWEB/ConUni_SOAP_Java_G04_Cliente_Web/dist/
/02.CLIWEB/ConUni_Soap__G04_Cliente_Web/nbproject/private/
/02.CLIWEB/ConUni_Soap__G04_Cliente_Web/build/
/02.CLIWEB/ConUni_Soap__G04_Cliente_Web/dist/
/TI1.3RESTFUL_JAVA_SINBDD_GR04/02.CLIESC/ConUni_Restful_Java_G04_Cliente_Escritorio/nbproject/private/
/TI1.3RESTFUL_JAVA_SINBDD_GR04/02.CLIESC/ConUni_Restful_Java_G04_Cliente_Escritorio/build/
/TI1.3RESTFUL_JAVA_SINBDD_GR04/02.CLIESC/ConUni_Restful_Java_G04_Cliente_Escritorio/dist/
