<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IConversionService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint
			  address="http://localhost:52091/ec.edu.espe.monster.ws/ConversionService.svc"
			  binding="basicHttpBinding"
			  bindingConfiguration="BasicHttpBinding_IConversionService"
			  contract="ConversionRef.IConversionService"
			  name="BasicHttpBinding_IConversionService" />
		</client>
	</system.serviceModel>
</configuration>
