<configuration>
	<system.serviceModel>
		<services>
			<service name="ec.edu.espe.monster.controlador.ConversionService" behaviorConfiguration="ServiceBehavior">
				<endpoint address="" binding="basicHttpBinding" contract="ec.edu.espe.monster.modelo.IConversionService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
